*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'monospace', Courier, sans-serif;
}

body{
    background-image: url("bg-1.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.bg-image{
    width: 100vw;
    height: 100vh;
}


@media screen and (max-width: 1000px) {
    body{
        background-size: auto 100vh;
    }
}